* {
    box-sizing: border-box;
}


html, body {margin: 0; height: 100%;}



#outside {
    width: 100%;
    height: 100%;
}

#top {
    width: 100%;
    height: 10%;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}



#bottom{
  width: 28%;
  height: 50%;
  margin-top: 200px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 650px;
}
