* {
    box-sizing: border-box;
}


html, body {margin: 0; height: 100%;}



#outside {
    width: 100%;
    height: 100%;
}

#top {
    width: 100%;
    height: 10%;
}

.active {
  background-color: #830303;
}


#top ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
}

#top li {
    float: right;
}

#top li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top li a:hover {
    background-color: red;
}


#inside {
    width: 100%;
    height: 90%;
}

#index {
    float: left;
    width: 25%;
    height: 95%;
    padding: 20px;
    border: 3px dashed gray;
    margin-left: 20px;
}

h2{
  text-align: center;
  color: #830303;
}


#index ul {
    margin: 0;
    padding: 1;
    overflow: hidden;
}

#index li {
    float: none;
}

#index li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#index li a:hover {
    background-color: red;
}


#contentShell {
    width: 100%;
    height: 93%;
}

#content1 {
    float: left;
    width: 30%;
    height: 10%;
    margin-right: 0px;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 150px;
}

#content2 {
    float: left;
    width: 22%;
    height: 40%;
    color: white;
    text-align: justify;
    margin-right: 0px;
    margin-left: 100px;
}

#content3 {
    float: right;
    width: 40%;
    height: 10%;
    color: white;
    text-align: justify;
    margin-right: 100px;
    margin-left: 0px;
    margin-top: 100px;
}

#footers {
    float: left;
    width: 70%;
    height: 5%;
}

#prev {
    float: left;
    width: 15%;
    height: 5%;
    margin-right: 0px;
    margin-left: 400px;
}

#next {
    float: right;
    width: 15%;
    height: 5%;
    margin-right: 100px;
    margin-left: 0px;
}
