* {
    box-sizing: border-box;
}


html, body {margin: 0; height: 100%;}



#outside {
    width: 100%;
    height: 100%;
}

#top {
    width: 100%;
    height: 10%;
}


.active {
  background-color: #830303;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}



#bottom1{
  width: 50%;
  height: 55%;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 480px;
}

#bottom2{
  width: 100%;
  height: 10%;
 text-align: center;
}

#bottom3{
  float: right;
  width: 30%;
  height: 5%;
 text-align: right;
 color: #830303;
 margin-top: 10px;
 margin-bottom: 0px;
 margin-right: 0px;
 margin-left: 200px;
}

#bottom4{
   float: right;
   width: 8%;
   height: 5%;
   text-align: right;
   color: #830303;
   padding: 12px;
   margin-top: 5px;
   margin-bottom: 0px;
   margin-right: 0px;
   margin-left: 1200px;
}











.head {
  color: #830303;
}
